# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
CommunityDetectionSoftware_CPU/CommunityDetection.opensdf
CommunityDetectionSoftware_CPU/CommunityDetection.sdf
CommunityDetectionSoftware_CPU/TopicModel/datasets/Kos/result/alpha.txt
CommunityDetectionSoftware_CPU/TopicModel/datasets/Kos/result/beta.txt
CommunityDetectionSoftware_CPU/TopicModel/datasets/Kos/result/hi.txt
CommunityDetectionSoftware_CPU/TopicModel/datasets/Kos/docword.kos.txt
CommunityDetectionSoftware_CPU/TopicModel/datasets/Kos/samples.txt
CommunityDetectionSoftware_CPU/TopicModel/datasets/Kos/vocab.kos.txt
CommunityDetectionSoftware_CPU/TopicModel/datasets/Nips/docword.nips.txt
CommunityDetectionSoftware_CPU/TopicModel/datasets/Nips/partition.txt
CommunityDetectionSoftware_CPU/TopicModel/datasets/Nips/result/alpha.txt
CommunityDetectionSoftware_CPU/TopicModel/datasets/Nips/result/beta.txt
CommunityDetectionSoftware_CPU/TopicModel/datasets/Nips/result/hi.txt
CommunityDetectionSoftware_CPU/TopicModel/datasets/Nips/samples.txt
CommunityDetectionSoftware_CPU/TopicModel/datasets/Nips/vocab.nips.txt
CommunityDetectionSoftware_CPU/data/result/white.txt
CommunityDetectionSoftware_CPU/TopicModel/TopicModel.sdf
